[bumpversion]
current_version = 0.1.2
commit = True
tag = True

[bumpversion:file:readme.md]
search = https://img.shields.io/badge/current_version-v{current_version}-blue
replace = https://img.shields.io/badge/current_version-v{new_version}-blue

[bumpversion:file:conf/base.config]
search = version = '{current_version}'
replace = version = '{new_version}'
