workDir = '/localdisk/storage/projects/glycplm-nf/work'

manifest {
    name        = 'glycplm-nf'
    description = 'A workflow for protein glycosylation sites prediction'
    version = '0.1.2'
}

timeline {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/timeline.html"
}
report {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/report.html"
}
trace {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/trace.txt"
    fields  = 'task_id,name,status,exit,duration,realtime,%cpu,peak_rss,peak_vmem'
}
dag {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/dag.html"
}

process {
    errorStrategy = { task.exitStatus in [137, 143] ? 'retry' : 'terminate' } // OOM/timeout -> retry
    maxRetries    = 2

    withName: 'PREPROCESS' {
        cpus   = 2
        memory = '10 GB'
        time   = '30m'
        debug = true
    }
    withName: 'SPLIT_TEST' {
        cpus   = 2
        memory = '10 GB'
        time   = '30m'
        debug = true
    }
    withName: 'EMBED' {
        cpus   = 4
        memory = {64.GB * task.attempt}
        // time   = {4.h * task.attempt}
        debug = true
    }
    withName: 'TRAIN' {
        cpus   = 4
        memory = '8 GB'
        time   = '2h'
        debug = true
    }
    withName: 'PREDICT' {
        cpus   = 4
        memory = {64.GB * task.attempt}
        // time   = {4.h * task.attempt}
        debug = true
    }
}

profiles {

    test { // to test locally on laptop with small dataset
        process {
            errorStrategy = 'terminate'

            withName: 'PREPROCESS' {
                cpus   = 1
                memory = '1 GB'
                time   = '10m'
            }
            withName: 'EMBED' {
                cpus   = 2
                memory = '6 GB'
                time   = '30m'
            }
            withName: 'TRAIN' {
                cpus   = 2
                memory = '2 GB'
                time   = '15m'
            }
        }
    }

    docker {
        docker.enabled       = true
        docker.runOptions    = '--gpus all'   // required nvidia-container-toolkit locally
        process.container    = 'ghcr.io/stracquadaniolab/glycplm-nf:latest'
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        // process.container      = 'ghcr.io/stracquadaniolab/glycplm-nf:latest'
        process.container   = '/localdisk/storage/projects/glycplm-nf/glycplm-nf.sif'
	
	process {
		withName: 'EMBED|TRAIN' {
		containerOptions = '--nv'   // GPU for Singularity
		}
	}
    }

    hpc_slurm {
        process.executor = 'slurm'
        executor {
            queueSize    = 2 // not needed yet but can be required later if we branch
            pollInterval = '30 sec'
        }
	
	process {
	        withName: 'PREPROCESS|SPLIT_TEST' {
	            queue = 'compute'
		    }
	        withName: 'EMBED|TRAIN|PREDICT' {
	            queue          = 'gpu-compute'
	        }
	    }
    }
}
